.container {
    background-color:white;
    position:absolute; 
    top:152px; 
    bottom:50px; 
    left:0px; 
    right:0px;
    overflow:auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
 
 }

 .loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .loadingMessage {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    color: #0073e6;
 }

 .logo {
   width: 150px;
   height: 150px;
 }