.container {
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
 }
 
 .aberto {
    
     font-size: 12px;
    
 }

 .fechado {
   
    font-size: 10px;
    
}
 